
    :root{
        --dark-body-bg: rgb(32, 32, 32);
        --dark-bg-img: url("/night1.jpg");
        --dark-task-bg: rgb(42, 42, 59);
        --dark-footer-cl: rgb(163, 163, 163);
        --dark-filter-tasks-btn: rgb(67, 142, 255);
        --dark-header-cl: white;
        --dark-theme-icon: white;
        --dark-input-cl: white;
        --dark-gradiant-1: rgba(43, 43, 252, 0.7);
        --dark-gradiant-2: rgba(202, 41, 41, 0.7);
        --dark-task-border-cl: rgb(114, 114, 114);
        --dark-btn-border-cl: gray;
        --dark-task-text-cl: rgb(214, 214, 214);
        --dark-border-color-hover: white;
        --dark-btn-cl: rgb(255, 255, 255);
        --dark-btn-border-cl-checked: white;
        --dark-task-filter-hover: white;
        --dark-btn-cl-hover: white;
        --box-shadow: 0 0 0 0;
        --line-through-cl: rgba(55, 146, 90,0.7);
    }
    .light{
        --dark-body-bg: rgb(255, 255, 255);
        --dark-bg-img: url("/light1.jpg");
        --dark-task-bg: rgb(255, 255, 255);
        --dark-footer-cl: rgb(0, 0, 0);
        --dark-filter-tasks-btn: rgb(0, 77, 192);
        --dark-header-cl: rgb(255, 255, 255);
        --dark-theme-icon: rgb(255, 255, 255);
        --dark-input-cl: rgb(20, 20, 20);
        --dark-gradiant-1: rgba(255, 176, 58, 0.5);
        --dark-gradiant-2: rgba(4, 84, 175, 0.5);
        --dark-task-border-cl: rgb(41, 41, 41);
        --dark-btn-border-cl: rgb(41, 41, 41);
        --dark-task-text-cl: rgb(20, 20, 20);
        --dark-task-filter-hover: rgb(0, 0, 0);
        --dark-btn-cl: black;
        --box-shadow: 0 15px 50px 2px gray;
        --line-through-cl: rgba(146, 73, 55, 0.6);
    }
    body{
        background-color: var(--dark-body-bg);
        margin: 0;
    }
    .image-window{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(220deg,var(--dark-gradiant-1),var(--dark-gradiant-2)), var(--dark-bg-img);
        background-position: center;
        background-size: cover;
    }
    .add-task{
        width: 600px;
        height: 100px;
        background-color: var(--dark-task-bg);
        border-radius: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0 20px;
        padding: 5px;
    }
    .task-box{
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .task-box>:first-child{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .task-box>:last-child{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .task-box>:not(:last-child){
        border-bottom: 1px solid var(--dark-task-border-cl);
    }
    .task{
        width: 600px;
        height: 100px;
        background-color: var(--dark-task-bg);
        cursor: grab;
        padding: 5px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0 20px;
    }
    .task:active{
        cursor: grabbing;
    }
    .task-footer{
        width: 580px;
        height: 70px;
        background-color: var(--dark-task-bg);
        display: flex;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }
    .task-footer p{
        color: var(--dark-footer-cl);
        font-size: 17px;
    }
    .select-tasks{
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    .task-footer button{
        border: none;
        background-color: rgba(0,0,0,0);
        font-size: 18px;
        color: var(--dark-footer-cl);
        cursor: pointer;
    }
    .task-footer button:hover{
        color: var(--dark-task-filter-hover);
        font-weight: bold;
    }
    .task-footer button:active{
        opacity: 0.7;
    }
    .on{
        color: var(--dark-filter-tasks-btn) !important;
    }
    .task-window{
        margin-top: 90px;
        display: flex;
        gap: 20px 0;
        flex-direction: column;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--dark-header-cl);
    }
    .footer{
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-weight: bold;
    }
    #theme{
        color: var(--dark-theme-icon);
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        height: 45px;
        background-color: rgba(0,0,0,0);
        border: none;
    }
    #theme:active{
        opacity: 0.7;
    }
    .input-task{
        width: 90%;
        height: 50%;
        background-color: rgba(0,0,0,0);
        border: none;
        outline: none;
        font-size: 25px;
        color: var(--dark-input-cl);
    }
    .add-btn{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-color: rgba(0,0,0,0);
        border-radius: 300px;
        color: var(--dark-btn-cl);
        font-size: 20px;
        cursor: pointer;
        border: 1px solid var(--dark-btn-border-cl);
    }
    .add-btn:hover{
        background-color: rgb(54, 54, 255);
        color: var(--dark-btn-cl-hover);
        font-weight: bolder;
        border-color: var(--dark-border-color-hover);
    }
    .add-btn:active{
        opacity: 0.7;
    }
    .task-text{
        width: 80%;
        height: 50%;
        background-color: rgba(0,0,0,0);
        border: none;
        outline: none;
        font-size: 20px;
        color: var(--dark-task-text-cl);
        display: flex;
        align-items: center;
    }
    .check-btn{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0,0);
        border-radius: 300px;
        color: var(--dark-btn-cl);
        font-size: 20px;
        cursor: pointer;
        border: 1px solid var(--dark-btn-border-cl);
    }
    .check-btn>i{
        opacity: 0;
    }
    .check-btn:hover, .check-btn:hover> i{
        border-color: var(--dark-border-color-hover);
        color: var(--dark-btn-cl-hover);
        background-color: rgb(14, 168, 91);
        opacity: 1;
    }
    .check-btn:active{
        opacity: 0.7;
    }
    .checked-btn{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 300px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid var(--dark-btn-border-cl-checked);
        background-color: rgb(14, 168, 91);
        font-weight: bolder;
        opacity: 1;
    }
    .checked-btn>i{
        opacity: 1;
    }
    .checked-btn:active{
        opacity: 0.7;
    }
    .hidden{
        opacity: 0;
    }
    .delete{
        border: none;
        background-color: rgba(0,0,0,0);
        font-size: 40px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0.5;
        color: var(--dark-btn-border-cl);
        font-weight: light;
    }
    .delete:hover{
        opacity: 1;
    }
    .delete:active{
        opacity: 0.2;
    }
    .task:hover> .delete{
        visibility: visible;
    }
    .drag{
        opacity: 0.5;
    }
    .fall{
        pointer-events: none;
        animation: fall 0.2s forwards;
    }
    @keyframes fall{
        0%{
            opacity: 0.5;
            transform: translateX(20%);
        }
        50%{
            transform: translateX(25%) rotateZ(40deg);
            opacity: 0.3;
        }
        100%{
            transform: translateX(30%) rotateZ(90deg);
            opacity: 0;
        }
    }
    .completed .undone{
        display: none;
    }
    .active .done{
        display: none;
    }
    @media (max-width: 500px){
        .task-window{
            width: 350px;
            margin: auto;
        }
        .image-window{
            width: 380px;
            margin: auto;
        }
        .footer{
            width: 300px;
            margin-left: 20px;
            text-align: center;
        }
        .add-task{
            width: 300px;
            margin-left: 20px; 
        }
        .task-box{
            width: 300px;
            margin-left: 20px;
        }
        .task-footer{
            width: 280px;
            font-size: 2px;
            justify-content: space-between;
        }
        .task{
            width: 300px;
        }
        #all{
            font-size: 14px;
        }
        #completed{
            font-size: 14px;
        }
        #active{
            font-size: 14px;
        }
        .task-footer .delete-completed{
            font-size: 10px;
        }
        .task-footer p{
            font-size: 10px;
        }
    }